* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Regular";
  background-color: #FCFCFC;
}

body::-webkit-scrollbar{
  width: 5px;
}

body::-webkit-scrollbar-thumb{
  border-radius: 5px;
  background-color: rgba(0, 0, 0, .2);
} 

body::-webkit-scrollbar-track{
  background: transparent;
}

@font-face {
  font-family: "Roboto Regular";
  src: url("./assets/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto Bold";
  src: url("./assets/fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Roboto Medium";
  src: url("./assets/fonts/Roboto-Medium.ttf");
}

@font-face {
  font-family: "Visby";
  src: url("./assets/fonts/VisbyCF-Medium.ttf");
}

@font-face {
  font-family: "Visby Bold";
  src: url("./assets/fonts/VisbyCF-Bold.ttf");
}

@font-face {
  font-family: "Visby Heavy";
  src: url("./assets/fonts/VisbyCF-Heavy.ttf");
}
